/* Copyright (C) 2021  Theerapat Traikaew
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

 .toggle-switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     left: 20px;
 }

 
 .toggle-switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 
 .toggle-switch-slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
     border-radius: 34px;
 }

 .toggle-switch-slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
     border-radius: 50%;
 }

 input:checked+.toggle-switch-slider {
     background-color: #2196F3;
 }

 input:focus+.toggle-switch-slider {
     box-shadow: 0 0 1px #2196F3;
 }

 input:checked+.toggle-switch-slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 40px 0 35px 0;

}

.contanai {
    width: 500px;
    padding: 20px;           
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .message-error {
     margin-right: 10px;
     font-size: 16px;
     color: red;
 }

 #metadata {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 }

 .token-n {
     display: flex;
     margin-bottom: 10px;
 }

 .input-token {
     width: 100%;
     padding: 5px;
     border-radius: 6px;
     border: 1px solid #988e9c;
     font-size: 20px;

 }

 #device-name {
     width: 100%;
     padding: 5px;
     border-radius: 6px;
     border: 1px solid #988e9c;
     margin-left: 10px;
     font-size: 20px;
 }

 label {
     font-size: 25px;
 }

 .datasteam-pin {
    width: 60px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #988e9c;
    font-size: 20px;
 }

 .datasteam {
    margin-top: 20px;
 }

 .widget-slider-bar {
     width: 250px;
     position: relative;
     left: 20px;
 }

 output {
    position: relative;
    left: 25px;
    font-size: 22px;
 }

 .token-inner {
     margin-left: 20px;
     width: 100%;
 }

 footer {
     margin-top: 120px;
     text-align: center;
 }

 img {
     width: 150px;
 }